streamlit>=1.32
gspread>=6.0
pandas>=2.1
plotly>=5.20
numpy>=1.26
google-auth>=2.28
pytz>=2024.1
openpyxl>=3.1
xlrd>=2.0.1
lxml>=5.1
html5lib>=1.1
beautifulsoup4>=4.12
selenium>=4.18
FinanceDataReader>=0.9.96
